{%extends 'base.html'%}
{% load staticfiles %}
{% load i18n %}
{% block head %}

{%endblock head%}

{%block main%}

<div class="container">
  <div class="page-header">
    <h2>Lets help you.</h2>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action"><a href="">Fundraise</a></li>
      <li class="list-group-item list-group-item-action"><a href="" >Campaign</a></li>
      <li class="list-group-item list-group-item-action"><a href="">Event</a></li>
      <li class="list-group-item list-group-item-action"><a href="">Invitations</a></li>
      <li class="list-group-item list-group-item-action"><a href="">Charity Donations</a></li>
      <li class="list-group-item list-group-item-action"><a href="">Volunteer</a></li>
    </ul>
  </div>

</div>

{%endblock main%}
